* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    animation: zoomIn 0.8s forwards; 
}

.background-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/back.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    z-index: 0; 
}

@keyframes zoomIn {
    from {
        transform: scale(0.5); 
        opacity: 0; 
    }
    to {
        transform: scale(1); 
        opacity: 1; 
    }
}


.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 36px;
    text-align: center;
    z-index: 1000; 
    padding: 20px;
}

.folder-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px; 
    padding: 20px;
    position: absolute;
    top: 5%; 
    z-index: 1; 
}

.folder {
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 1001;
}

.folder a{
    text-decoration: none;
}

.folder img {
    width: 70px; 
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.folder img:hover {
    transform: scale(1.1);
}

.folder p {
    color: white;
    font-size: 14px; 
    margin-top: 10px;
    max-width: 70px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.folder p:hover {
    transform: scale(1.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 32, 32, 0.688); 
    display: grid; 
    place-items: center;
    z-index: 1001; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    visibility: hidden; 
}

.popup-content {
    display: grid; 
    place-items: center; 
    text-align: center; 
    position: relative; 
}

.popup-text {
    position: absolute;
    top: 52%; 
    left: 57%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 24px;
    padding: 20px;
    max-width: 20%; 
    text-align: center; 
    transition: transform 0.5s ease;
}

.popup-link {
    position: absolute;
    top: 65%; 
    left: 57%; 
    transform: translate(-50%, -50%); 
    color: rgb(237, 81, 188);
    font-size: 24px;
    padding: 20px;
    max-width: 20%; 
    text-align: center; 
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.popup-link2 {
    position: absolute;
    top: 70%; 
    left: 57%; 
    transform: translate(-50%, -50%); 
    color: rgb(237, 81, 188);
    font-size: 24px;
    padding: 20px;
    max-width: 20%; 
    text-align: center; 
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.popup-link:hover, .popup-link2:hover {
    color: rgb(0, 191, 255) ; 
}


.popup-image {
    width: 70%; 
    height: auto;
    transform: scale(0.8); 
    transition: transform 0.5s ease; 
    display: block; 
    margin: 0 auto; 
}

.close {
    position: absolute;
    top: 12%;
    left: 23.5%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    background: rgb(237, 81, 188); 
    padding: 10px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    text-align: center; 
    transition: transform 0.5s ease;
}

.close:hover{
    transform: scale(1.1);
}



